@import 'mixins';
@import 'vars';

.card {
    position: relative;

    &-body {
        padding: 2rem 3rem;
    }
}

.login {
    &-area {
        margin: 1rem auto 0;
        max-width: 28rem;
        padding: 0 1rem;
    }

    &-icon {
        max-width: 100%;
    }

    &-info {
        font-size: $font-small;
        font-weight: normal;
    }

    &-element {
        margin-top: 2rem;
    }
}